.col-md-12
  %h1=I18n.t(:title)
  %p=I18n.t(:description)	
  %h2=I18n.t(:search_in_the_community)
  =render 'layouts/search_widget'
  %h3=I18n.t(:top_spaces)
  %ul
    - if @topSpaces then 
      - @topSpaces.each do |s|
        %li=link_to image_tag(s.avatar, :alt => s.description), s.url.to_s, :title => s.title		
  %h3 Espacios
  %ul
    - if  @allSpaces
      - @allSpaces.each do |s|
        %li=link_to image_tag(s.avatar, :alt => s.description), s.url.to_s, :title => s.title
  %h3=I18n.t(:top_polls)
  %ol
    - if @topPolls
      - @topNominees.each do |u|
        %li=link_to u.name u.uid
  %h3=I18n.t(:top_nominees)
  %ol
    - if @topNominees
      - @topNominees.each do |u|
        %li=link_to u.name u.uid
  %h3=I18n.t(:top_users)
  %ol
    - if @topUsers
      - @topUsers.each do |u|
        %li=link_to u.name u.uid
  %h3=I18n.t(:frequent_asked_questions)
  .tutorial
    %h4=I18n.t(:how_to_participate)
    %h4=I18n.t(:how_to_earn_badges)
    %h4=I18n.t(:what_is_a_poll)
  %h3=I18n.t(:what_is_space)
  %p
    = link_to 'Users:', users_path 
    = User.count
    registered
  %p
    = link_to 'Sign in', '/signin'
