%h1
	Comunidad M&eacute;xico
%p
	Puedes encontrar respuestas y hacer preguntas conectándote con la comunidad M&eacute;xico	
%p
	= link_to 'Users:', users_path 
	= User.count
	registered
%p
	= link_to 'Sign in', '/signin'