.container
  .row
    .col-md-12
      %h1 Editing space

      = render 'form'
      = link_to 'Show', user_space_path, :class => "button btn btn-secondary"
      = link_to I18n.t(:spaces), user_spaces_path, :class => "button btn btn-secondary"
      = link_to 'Destroy', user_space_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button btn btn-danger"
