- content_for(:title, I18n.t(:users))
.container
  .row
    .col-md-12
      %h3=I18n.t(:users)
  .row
    .col-md-12
      %table.table.table-striped.table-hover.table-responsive
        %tbody
          - @users.each do |user|
            %tr
              = render user