
body {
	background-color: #F6F4F0;
	min-height: 600px;
	min-width: 320px;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
}

.header {
  background-color: #EF3340;
}
.main {
	background:#DFC970;
	padding: 18px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3E342A;
  padding: 18px 0 4px 0;
}

.mainyield.container{
	background:rgba(255,255,255,0.6);
	border-radius: 6px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
}
.covercontainer {
	min-height:100px;
	position: relative;
	.covercontent {
		position: absolute;
		padding: 18px 0;
		width: 100%;
		.covertitle {
			padding-left: 16px;
			display: inline-block;
			h1, p {color: white;}
		}
		.coveravatar {
			display: inline-block;
			max-width: 200px;
			max-height: 200px;
		}
	}
}
.paragraph {
	white-space: pre-wrap;
	&.left{text-align: left;}
	&.right{text-align: right;}
	&.center{text-align: center;}
}
