%li.nav-item= link_to 'Home', '/', :class => "nav-link"
%li.nav-item= link_to 'Spaces', '/spaces', :class => "nav-link"
%li.nav-item= link_to 'Users', '/users', :class => "nav-link"
%li.nav-item= link_to 'Sign in', '/signin', :class => "nav-link"
