%li.nav-item= link_to I18n.t(:home), '/', :class => "nav-link"
%li.nav-item= link_to I18n.t(:spaces), spaces_path, :class => "nav-link"
%li.nav-item= link_to I18n.t(:users), users_path, :class => "nav-link"
