%nav.navbar.bg-inverse.navbar-fixed-top.navbar-toggleable-md.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggler{:type => "button", :aria => {:expanded => "false", :controls => "navbar"}, :data => {:toggle => "collapse", :target => "#navbar"}}
        %span.navbar-toggler-icon
      = link_to root_path, class: 'navbar-brand' do
        Comunidad M&eacute;xico
    #navbar.navbar-collapse.collapse
      %ul.mr-auto.navbar-nav
        = render 'layouts/navigation_links'
      %ul.mr-auto.navbar-nav
        = render 'layouts/nav_links_for_auth'
