%nav.navbar.navbar-default.bg-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggler{:type => "button", :aria => {:expanded => "false", :controls => "navbar"}, :data => {:toggle => "collapse", :target => "#navbar"}}
        %span.sr-only Toggle navigation
        - 3.times do
          %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        Comunidad M&eacute;xico
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/nav_links_for_auth'
